# **TT Project**

# Introduction
TT team is in the early stages of the project. To gain clear insights to prepare for a claims classification model, TT's provided data must be examined to begin the process of EDA.

**Go Beyond the Numbers: Translate Data into Insights**
The management team asked to see a Python notebook showing data structuring and cleaning, as well as any matplotlib/seaborn visualizations plotted to help us understand the data. At the very least, include a graph comparing claim counts to opinion counts, as well as boxplots of the most important variables (like “video duration,” “video like count,” “video comment count,” and “video view count”) to check for outliers. Also, include a breakdown of “author ban status” counts.

Additionally, the management team has recently asked all EDA to include Tableau visualizations. Tableau visualizations are particularly helpful in status reports to the client and board members. For this data, create a Tableau dashboard showing a simple claims versus opinions count, as well as stacked bar charts of claims versus opinions for variables like video view counts, video like counts, video share counts, and video download counts. Make sure it is easy to understand to someone who isn’t data savvy, and remember that the assistant director is a person with visual impairments.

# Inspect and analyze data (tt2)
**The purpose** of this phase is to investigate and understand the data provided. 
1.   Acquaint with the data
2.   Compile summary information about the data
3.   Begin the process of EDA and reveal insights contained in the data
4.   Prepare for more in-depth EDA, hypothesis testing, and statistical analysis

**The goal** is to construct a dataframe in Python, perform a cursory inspection of the provided dataset, and inform data team members of your findings.

*This activity has three parts:*

**Part 1:** Understand the situation
* How can you best prepare to understand and organize the provided TikTok information?

**Part 2:** Understand the data
* Create a pandas dataframe for data learning and future exploratory data analysis (EDA) and statistical activities
* Compile summary information about the data to inform next steps

**Part 3:** Understand the variables
* Use insights from your examination of the summary data to guide deeper investigation into variables

# EDA (tt3)
**The purpose** of this project is to conduct exploratory data analysis on a provided data set. 

**The goal** is to explore the dataset and create visualizations.

# Data exploration and hypothesis testing (tt3)

**The purpose** of this project is to demostrate knowledge of how to prepare, create, and analyze hypothesis tests.

**The goal** is to apply descriptive and inferential statistics, probability distributions, and hypothesis testing in Python.

*This activity has three parts:*

**Part 1:** Imports and data loading
* What data packages will be necessary for hypothesis testing?

**Part 2:** Conduct hypothesis testing
* How will descriptive statistics help you analyze your data?

* How will you formulate your null hypothesis and alternative hypothesis?

**Part 3:** Communicate insights with stakeholders

* What key business insight(s) emerge from your hypothesis test?

* What business recommendations do you propose based on your results?

# Identify data types and compile summary information

# PACE stages

## Pace: Plan

### **Task 1. Understand the situation**
We can best prepare to understand and organize the provided information by exploring the dataset and reviewing the data dictionary.

Start with getting familiar with the data files, how they are organized on the disk, folders, etc. Then, try identify collection timespan, if they are 2nd or 3rd sources, how they were collected and if they ara anonymized. I would also try to understand if I should expect any biases, considering the data sources. Then review the Data Dictionary to get a familiarity with the values and try to understand how to make use of the available data, in purpose of the project scope.

## PACE: Plan 2

1. Identify any outliers:

*   What methods are best for identifying outliers?
*   How do you make the decision to keep or exclude outliers from any future models?

***- EDA and boxplots especially are best to identify outliers.*** 

***- The descriptive statistics shall be useful to review how the outliers impact or skew the data. Then, we may decide either to keep them or blend them within the data frame or even get rid of them.***

## PACE: Plan 3

What is your research question for this data project? Later on, you will need to formulate the null and alternative hypotheses as the first step of your hypothesis test. Consider your research question now, at the start of this task.

Whether there is a statistical difference in the data between verified and unverified accounts. 

We will conduct a two-sample hypothesis test of verified versus unverified accounts in terms of video view counts.

## PACE: Analyze

### Task 2a. Imports and data loading

In [1]:
# Import packages for data manipulation
import pandas as pd
import numpy as np

# Import packages for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Import packages for statistical analysis/hypothesis testing
from scipy import stats

Creating a dataframe will help to conduct data manipulation, EDA and statistical activities.

In [2]:
# Load dataset into dataframe
data = pd.read_csv("../data/tt_dataset.csv")

In [ ]:
### Task 2a.2: Data exploration and cleaning
Consider the following questions as you work:

What do you do about missing data (if any)?

Are there data outliers?

In [19]:
# Display and examine the first few rows of the dataframe
data.head()

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0

In [20]:
# Get the size of the data
data.size

232584

In [21]:
# Get the shape of the data
data.shape

(19382, 12)

In [22]:
# Get basic information about the data, using `.info()`
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

In [ ]:
# Generate a table of descriptive statistics, using `.describe()`
data.describe()

### **Task 2b. Understand the data - Inspect the data**

In [3]:
# Display and examine the first ten rows of the dataframe
data.head(10)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0

**Question 1:** When reviewing the first few rows of the dataframe, what do you observe about the data? What does each row represent?
Each row represents and observation

In [4]:
# Get summary info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

There are 11 different variables wit 3 different types: int64, float64 and object. Not all are numeric. There is no null values. There is a difference of non-null values between the total video count and the matching observations.

In [5]:
# Get summary statistics
data.describe()

,#,video_id,video_duration_sec,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,1.938200e+04,19382.000000,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
mean,9691.500000,5.627454e+09,32.421732,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,2.536440e+09,16.229967,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,1.234959e+09,5.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,3.430417e+09,18.000000,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,5.618664e+09,32.000000,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,7.843960e+09,47.000000,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,9.999873e+09,60.000000,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

**Question 3:** When reviewing the `data.describe()` output, what do you notice about the distributions of each variable? Are there any questionable values? Does it seem that there are outlier values?

In [ ]:
### **Task 2. Data exploration** (tt4)

Use descriptive statistics to conduct Exploratory Data Analysis (EDA).

In [2]:
# Check for missing values
data.isna().sum()

NameError: name 'data' is not defined

In [ ]:
Drop missing values if OK.

In [ ]:
# Drop rows with missing values
data = data.dropna(axis = 0)

In [ ]:
# Display first few rows after handling missing values
data.head()

We are interested in the relationship between `verified_status` and `video_view_count`. One approach is to examine the mean value of `video_view_count` for each group of `verified_status` in the sample data.

In [3]:
# Compute the mean `video_view_count` for each group in `verified_status`

# Calculate mean for `verified_status` = "verified"
verified = data[data["verified_status"] == "verified"]
verified["video_view_count"].mean()

NameError: name 'data' is not defined

In [ ]:
# Calculate mean for `verified_status` = "not verified"
not_verified = data[data["verified_status"] == "not verified"]
not_verified["video_view_count"].mean()

### **Task 2c. Understand the data - Investigate the variables**
Begin to investigate the variables more closely to better understand them.

As the ultimate objective is to use machine learning to classify videos as either claims or opinions, a good first step towards understanding the data might be examining the `claim_status` variable.

In [6]:
# What are the different values for claim status and how many of each are in the data?
data.groupby(["claim_status"]).count()

# or
# data["claim_status"].value_counts()

,#,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
claim_status,,,,,,,,,,,
claim,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608,9608
opinion,9476,9476,9476,9476,9476,9476,9476,9476,9476,9476,9476

Values are in more or less in balance.

Next, examine the engagement trends associated with each different claim status.

Start by using Boolean masking to filter the data according to claim status, then calculate the mean and median view counts for each claim status.

In [7]:
# Average view count of videos with "claim" status
claim_status_group = data.groupby(["claim_status"])

claim_status_group[["video_view_count"]].agg(["mean", "median"])

             video_view_count
                         mean    median
claim_status
claim           501029.452748  501555.0
opinion           4956.432250    4953.0

In [8]:
# Average view count of videos with "opinion" status
mean_claim_status_group = claim_status_group["video_view_count"].mean()

mean_claim_status_group

claim_status
claim      501029.452748
opinion      4956.432250
Name: video_view_count, dtype: float64

The mean and median values of each category are similar within each. That makes it a relaible data and not biased with outliers. But there is a huge difference between the view counts of claim to opinion videos.

Now, examine trends associated with the ban status of the author.

Use `groupby()` to calculate how many videos there are for each combination of categories of claim status and author ban status.

In [9]:
# Get counts for each group combination of claim status and author ban status, using `groupby()`
ban = data.groupby(["claim_status", "author_ban_status"]).agg(["count"])

ban["#"]

                                count
claim_status author_ban_status
claim        active              6566
             banned              1439
             under review        1603
opinion      active              8817
             banned               196
             under review         463

Banned authors are more in claim videos. There might be a correlation between claims and violation of user terms, therefore `author_ban_status count` is high.

Continue investigating engagement levels, now focusing on `author_ban_status`.

In [10]:
# Calculate the median video share count of each `author_ban_status`
video_share_banned = data.groupby(["author_ban_status"])

video_share_banned["video_share_count"].median()

author_ban_status
active            437.0
banned          14468.0
under review     9444.0
Name: video_share_count, dtype: float64

In [11]:
# Calculate the median `video_share_count` of each `author_ban_status`
video_share_banned = data.groupby(["author_ban_status"])

video_share_banned["video_share_count"].median()

author_ban_status
active            437.0
banned          14468.0
under review     9444.0
Name: video_share_count, dtype: float64

The share of median of banned authors' count is very high compared to the median of active authors count.

In [12]:
# Use `groupby()` to group the data by `author_ban_status`, then use `agg()` to get the count, mean, and median of each of the following columns: `video_view_count`, `video_like_count`, `video_share_count`
# (The argument for the `agg()` function is a dictionary whose keys are columns. The values for each column are a list of the calculations you want to perform)
video_banned = data.groupby("author_ban_status").agg(["count", "mean", "median"])

video_banned[["video_view_count", "video_like_count", "video_share_count"]]

TypeError: agg function failed [how->mean,dtype->object]

Banned authors' view, like and share counts are much higher than the corresponding counts of active authors' videos.

In [ ]:
# Create three new columns to help better understand engagement rates

# Create a `likes_per_view column` which represents the number of likes divided by the number of views for each video
data["likes_per_view"] = data["video_like_count"]/data["video_view_count"]

# Create a `comments_per_view column` which represents the number of comments divided by the number of views for each video
data["comments_per_view"] = data["video_comment_count"]/data["video_view_count"]

# Create a `shares_per_view column` which represents the number of shares divided by the number of views for each video
data["shares_per_view"] = data["video_share_count"]/data["video_view_count"]

data.head()

In [ ]:
# Use `groupby()` to compile the information in each of the three newly created columns for each combination of categories of claim status and author ban status, then use `agg()` to calculate the count, the mean, and the median of each group
statistics_claim_status = data.groupby(["claim_status", "author_ban_status"]).agg({"likes_per_view": ["count", "mean", "median"], "comments_per_view": ["count", "mean", "median"], "shares_per_view": ["count", "mean", "median"]})

# statistics_claim_status
statistics_claim_status

Averages on data for claim videos are higher in each group (of views, comments, likes and shares) compared to the opinion videos.

### Task 2b.2 Assess data types

### Task 2c.2 Select visualization type(s)

Select data visualization types that will help you understand and explain the data.

Now that you know which data columns you’ll use, it is time to decide which data visualization makes the most sense for EDA of the TikTok dataset. What type of data visualization(s) would be most helpful? Consider the distribution of the data.

* Line graph
* Bar chart
* Box plot
* Histogram
* Heat map
* Scatter plot
* A geographic map

- ***Box plot to see the distribution of data. It will also be later useful as they also reveal outliers, etc.*** 
- ***Scatter pilot to see 2 numerical variable relationships, such as "Views and Likes".***
- ***Histograms to see counts for categorical variables*** 
- ***Pie chart to see counts between 2 (or a few at max.) variables***

## PACE: Construct

### Task 3. Build visualizations

In [ ]:
#### video_duration_sec
# Create a boxplot to visualize distribution of `video_duration_sec`
# Create the boxplot
sns.boxplot(data=data, x="video_duration_sec")

# Add labels and title
plt.xlabel("Video Duration (seconds)")
plt.title("Boxplot of Video Duration")
plt.show()

In [13]:
# Create a histogram of the values in the `video_duration_sec` column to further explore the distribution of this variable
sns.histplot(data=data, x="video_duration_sec", bins=10)
plt.xlabel("Video Duration (sec)")
plt.title("Histogram of Video Duration")

NameError: name 'sns' is not defined

In [14]:
The video upper limit is 60 sec and the min. length is 5 sec. It is evenly distributed (The distribution is uniform).

SyntaxError: invalid syntax (2369802066.py, line 1)

#### video_view_count

In [ ]:
# Create a boxplot to visualize distribution of `video_view_count`
# Create the boxplot
sns.boxplot(data=data, x="video_view_count")

# Add labels and title
plt.xlabel("Video View Count")
plt.title("Boxplot of Video View Count")
plt.show()

In [ ]:
# Create a histogram of the values in the video_view_count column to further explore the distribution of this variable
# Create the histogram
sns.histplot(data=data, x="video_view_count", bins=10)
plt.xlabel("Video View Count")
plt.title("Histogram of Video View Count")
plt.show()

In [ ]:
A huge stack (unevenness) is visible on the left side of the plot.

In [ ]:
#### video_like_count

In [ ]:
# Create a box plot to examine the spread of values in the `video_like_count` column
### YOUR CODE HERE ###
sns.boxplot(data = data, x ="video_like_count")
plt.title("Video Like Count")
plt.show()

In [ ]:
# Create a histogram of the values in the video_like_count column to further explore the distribution of this variable
sns.histplot(data = data, x="video_like_count", bins =10)
plt.xlabel("Video Like Count")
plt.title("Histogram of Video Like Count")

In [ ]:
This one is also unevenly distributed significantly.

#### video_comment_count

In [ ]:
# Create a boxplot to visualize distribution of `video_comment_count`
sns.boxplot(data = data, x="video_comment_count")
plt.title("Video Comment Count")
plt.show()

In [ ]:
# Create a histogram of the values in the video_comment_count column to further explore the distribution of this variable`
sns.histplot(data = data, x = "video_comment_count", bins = 25)
plt.xlabel("Video Comment Count")
plt.title("Histogtram of Video Comment Count")
plt.show()

In [ ]:
This one is again highly uneven distributed.

#### video_share_count

In [ ]:
# Create a boxplot to visualize distribution of `video_share_count`
sns.boxplot(data = data, x="video_share_count")
plt.title("Video Share Count")
plt.show()

In [ ]:
# Create a histogram of the values in the video_share_count column to further explore the distribution of this variable.
sns.histplot(data = data, x="video_share_count", bins = 25)
plt.xlabel("Video Share Count")
plt.title("Histogram of Video Share Count")

In [ ]:
Unevenly distributed.

In [ ]:
#### video_download_count

In [ ]:
# Create a boxplot to visualize distribution of `video_download_count`
sns.boxplot(data = data, x="video_download_count")
plt.title("Video Download Count")

In [ ]:
# Create a histogram of the values in the video_download_count column to further explore the distribution of this variable
sns.histplot(data = data, x="video_download_count", bins = 25)
plt.xlabel("Video Download Count")
plt.title("Histogram of Video Download Count")

Data is skewed to the right.

## PACE: Execute

### Outcomes
- Almost 50% of the videos are claims.
- There is a high positive correlation of the banned and under review videos with the claim status videos.
- Banned authors' videos have a higher engagement level.

In [ ]:
#### **Claim status by verification status**
Now, create a histogram with four bars: one for each combination of claim status and verification status.

In [ ]:
# Create a histogram with four bars: one for each combination of claim status and verification status.
sns.histplot(data = data, 
            x="claim_status", 
            hue = "verified_status",
            multiple = "dodge")
plt.title("Histogram for Claims by Verification Status")

Unverified users are much higher than verified users and verified users tho post opinions are higher.

In [15]:
#### Claim status by author ban status

In [ ]:
# Create a histogram, using `groupby()` to examine the count of each claim status fpr each author ban status
sns.histplot(data = data, 
            x = "claim_status", 
            hue = "author_ban_status",
            hue_order =["active", "under review", "banned"],
            multiple = "dodge", 
            shrink = 0.9)
plt.title("Histogram for Claim Status by Author Ban Status Counts")

In [ ]:
There are more active authors who post opinions and active users are much higher compared to under_review and banned authors in both claims and opinions.

#### Median view counts by ban status
Create a bar plot with three bars: one for each author ban status. The height of each bar should correspond with the median number of views for all videos with that author ban status.

In [ ]:
# Create a bar plot with three bars: one for each author ban status
ban_status_counts = data.groupby(["author_ban_status"]).median(numeric_only=True).reset_index()

sns.barplot(data = ban_status_counts, 
            x = "author_ban_status", 
            y = "video_view_count", 
            order = ["active", "under review", "banned"])
plt.title("Median View Counts by Ban Status")

Under review and banned accounts (non-active accounts) have a very high count of median views.

Important outcome: `video_view_count` might be good indicator of claim status.

In [ ]:
# Calculate the median view count for claim status
data.groupby("claim_status")["video_view_count"].median()

In [ ]:
#### Total views by claim status

In [ ]:
# Create a pie graph that depicts the proportions of total views for clain videos and total views for opinion videos
plt.pie(data.groupby("claim_status")["video_view_count"].sum(), labels=["claim", "opinion"])
plt.title("Total Views by Claim Status")

### **Task 4. Determine outliers**

When building predictive models, the presence of outliers can be problematic. For example, if you were trying to predict the view count of a particular video, videos with extremely high view counts might introduce bias to a model. Also, some outliers might indicate problems with how data was captured or recorded.

The ultimate objective of the TikTok project is to build a model that predicts whether a video is a claim or opinion. The analysis you've performed indicates that a video's engagement level is strongly correlated with its claim status. There's no reason to believe that any of the values in the TikTok data are erroneously captured, and they align with expectation of how social media works: a very small proportion of videos get super high engagement levels. That's the nature of viral content.

Nonetheless, it's good practice to get a sense of just how many of your data points could be considered outliers. The definition of an outlier can change based on the details of your project, and it helps to have domain expertise to decide a threshold. You've learned that a common way to determine outliers in a normal distribution is to calculate the interquartile range (IQR) and set a threshold that is 1.5 * IQR above the 3rd quartile.

In this TikTok dataset, the values for the count variables are not normally distributed. They are heavily skewed to the right. One way of modifying the outlier threshold is by calculating the **median** value for each variable and then adding 1.5 * IQR. This results in a threshold that is, in this case, much lower than it would be if you used the 3rd quartile.

Write a for loop that iterates over the column names of each count variable. For each iteration:
1. Calculate the IQR of the column
2. Calculate the median of the column
3. Calculate the outlier threshold (median + 1.5 * IQR)
4. Calculate the numer of videos with a count in that column that exceeds the outlier threshold
5. Print "Number of outliers, {column name}: {outlier count}"

In [ ]:
# 
columns = ["video_view_count", 
           "video_like_count", 
           "video_share_count", 
           "video_download_count",
           "video_comment_count",
           ]

for column in columns: 
    q1 = data[column].quantile(0.25)
    q3 = data[column].quantile(0.75)
    iqr = q3 - q1 
    outlier_threshold = data[column].median() + 1.5*iqr
    
    outlier_count = (data[column] > outlier_threshold).sum()
    print(f"Number of outliers, {column}:", outlier_count)

In [ ]:
# Create a scatterplot of `video_view_count` versus `video_like_count` according to 'claim_status'
sns.scatterplot(data = data, x = "video_view_count", 
                y = "video_like_count", 
                hue = "claim_status", 
                s = 5, 
                alpha = 0.5)
plt.title("Video View Count vs. Video Like Count acc. to Claim Status")
plt.show()

In [ ]:
# Create a scatterplot of `video_view_count` versus `video_like_count` for opinions only
sns.scatterplot(data = data, x = "video_view_count", 
                y = "video_like_count", 
                hue = "claim_status" == "opinion", 
                s = 5, 
                alpha = 0.5)
plt.title("Video View Count vs. Video Like Count for 'opinion' Claims")
plt.show()

In [ ]:
## PACE: Execute

In [ ]:
### **Task 5a. Results and evaluation**

Having built visualizations in Tableau and in Python, what have you learned about the dataset? What other questions have your visualizations uncovered that you should pursue?

***Pro tip:*** Put yourself in your client's perspective, what would they want to know?

Use the following code cells to pursue any additional EDA. Also use the space to make sure your visualizations are clean, easily understandable, and accessible.

***Ask yourself:*** Did you consider color, contrast, emphasis, and labeling?

I have learned .... that visualization is a very strong method to quickly review distribution of the data point and some patterns in order to inspect in details later. It was possible to reveal that the claim videos have interesting engagement levels.

My other questions are .... if the claim videos have a pattern in their video_transcription text.

My client would likely want to know ... if it would be possible to detect any patterns to identify claim videos other than the counts, and would also like to make sure to avoid false positives in order not to make a displeasent user experience.

In [ ]:
### Task 5b. Conclusion
*Make it professional and presentable*

You have visualized the data you need to share with the director now. Remember, the goal of a data visualization is for an audience member to glean the information on the chart in mere seconds.

*Questions to ask yourself for reflection:*
Why is it important to conduct Exploratory Data Analysis? What other visuals could you create?

EDA is important because ...
it guides what to focus on for analysis and to prepare for future modeling.

Visualizations helped me understand ..
the (unusual) patterns which need to be inspected, conveniently and that the data is not yet ready for the next steps as the outliers, missing data, etc all need to be handled first.

In [ ]:
### Hypothesis testing

The goal is to conduct a two-sample t-test. 

Steps for conducting a hypothesis test:

1.   State the null hypothesis and the alternative hypothesis
2.   Choose a signficance level
3.   Find the p-value
4.   Reject or fail to reject the null hypothesis

ß0 = there is no difference between the video view counts of verified users and not verified users (any difference between the two is by chance)
ß1 = `video_view_count` of not verified users are higher (any difference between the two is actual)

Significance level: 5% is chosen.

In [1]:
# Conduct a two-sample t-test to compare means
verified_views = data[data["verified_status"] == "verified"]["video_view_count"]
not_verified_views = data[data["verified_status"] == "not verified"]["video_view_count"]

stats.ttest_ind(a=not_verified_views, b=verified_views, equal_var=False)

NameError: name 'data' is not defined

p-value is 2.61, which is very small, therefore the null hypothesis is rejected. The difference between the video view counts of "verified" accounts and "not verified" accounts are not by random chance and statistically significant.

## PACE: Execute

## Step 4: Communicate insights with stakeholders

### Outcome
The video view counts acc. to the user verified status is statistically significant, in which the not verified accounts have a very high amount. It should be investigated further. It is required to build a regression model in the next step.